<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hunny.fitnesspoint">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".AppConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main_layout" />
        <activity android:name=".Pie_chart" />
        <activity android:name=".Sign_up" />
        <activity android:name=".Activity" />
        <activity android:name=".Search_Food_Activity" />
        <activity android:name=".BMI" />
        <activity android:name=".Water" />
        <activity android:name=".Food_Cell" />
        <activity android:name=".Forgot_password"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ProfileActivity" />

        <receiver android:name=".AlarmReceiver" />

        <service android:name=".AlarmService" />

        <receiver android:name=".AlarmReceiver1" />

        <service android:name=".AlarmService1" />

        <activity android:name=".Review_consumption" />
        <activity android:name=".Show_data"></activity>
    </application>

</manifest>